.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: #0D5F9A;
  position: sticky;
  top: 50px;
  border-radius: 12px;
  /* color: white; */
}
.sidebar__main{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #0D5F9A;
  font-size: 40px;
}
.sidebarWrapper {
  padding: 20px;
  color: white;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 35px;
  color: white;
}

.sidebarList {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  padding: 5px;
  /* border:1px solid red */
}

.sidebarListItem {
  /* padding: 15px; */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color:#e6e6e6
  /* border: 1px solid red; */
}

.sidebarListItem.active,
.sidebarListItem:hover {
  transform: scale(1.1);
  color: white;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}

